html, body {
    margin: 0;
    padding: 3vmin;
    height: 100%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1c1c1;
    justify-content: center;
}
.title{
    font-size: 10vmin;
}
.time {
    display: flex;
    font-size: 8vmin;
    justify-content: center;
}
.timeTitle {
    display: flex;
    font-size: 8vmin;
    justify-content: center;
    border: .5vmin solid #f1c1c1;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
    margin: 1vmin;
    transition-duration: 250ms;
}
.timeTitle:hover {
    background: #e8ecf2;
    border-radius: 9999px;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}
span{
    justify-content: center;
    align-items: center; 
    vertical-align: center;
}
span.timeTitle {
    padding: 2vmin;
}