<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{daysToDday}}</mat-card-title>
      <mat-card-subtitle>Days</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{hoursToDday}}</mat-card-title>
        <mat-card-subtitle>Hours</mat-card-subtitle>
      </mat-card-header>
  </mat-card>
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{minutesToDday}}</mat-card-title>
        <mat-card-subtitle>Minutes</mat-card-subtitle>
      </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{secondsToDday}}</mat-card-title>
      <mat-card-subtitle>Seconds</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>